[submodule "section3/SimpleSwap/lib/forge-std"]
	path = section3/SimpleSwap/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "section3/UniswapV2Practice/lib/forge-std"]
	path = section3/UniswapV2Practice/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "section3/UniswapV2Practice/lib/v2-core"]
	path = section3/UniswapV2Practice/lib/v2-core
	url = https://github.com/Uniswap/v2-core
[submodule "section3/UniswapV2Practice/lib/v2-periphery"]
	path = section3/UniswapV2Practice/lib/v2-periphery
	url = https://github.com/Uniswap/v2-periphery
[submodule "section3/UniswapV2Practice/lib/openzeppelin-contracts"]
	path = section3/UniswapV2Practice/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "section3/SandwichPractice/lib/forge-std"]
	path = section3/SandwichPractice/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "section3/SandwichPractice/lib/v2-periphery"]
	path = section3/SandwichPractice/lib/v2-periphery
	url = https://github.com/Uniswap/v2-periphery
[submodule "section3/SandwichPractice/lib/v2-core"]
	path = section3/SandwichPractice/lib/v2-core
	url = https://github.com/Uniswap/v2-core
[submodule "section3/FlashSwapPractice/lib/forge-std"]
	path = section3/FlashSwapPractice/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "section3/FlashSwapPractice/lib/v2-core"]
	path = section3/FlashSwapPractice/lib/v2-core
	url = https://github.com/Uniswap/v2-core
[submodule "section3/FlashSwapPractice/lib/v2-periphery"]
	path = section3/FlashSwapPractice/lib/v2-periphery
	url = https://github.com/Uniswap/v2-periphery
[submodule "section3/CompoundPractice/lib/forge-std"]
	path = section3/CompoundPractice/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "section3/CompoundPractice/lib/compound-protocol"]
	path = section3/CompoundPractice/lib/compound-protocol
	url = https://github.com/compound-finance/compound-protocol
[submodule "section3/FlashLoanPractice/lib/forge-std"]
	path = section3/FlashLoanPractice/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "section3/FlashLoanPractice/lib/openzeppelin-contracts"]
	path = section3/FlashLoanPractice/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "section3/FlashLoanPractice/lib/aave-v3-core"]
	path = section3/FlashLoanPractice/lib/aave-v3-core
	url = https://github.com/aave/aave-v3-core
[submodule "section3/FlashLoanPractice/lib/v2-core"]
	path = section3/FlashLoanPractice/lib/v2-core
	url = https://github.com/uniswap/v2-core
[submodule "section3/FlashLoanPractice/lib/compound-protocol"]
	path = section3/FlashLoanPractice/lib/compound-protocol
	url = https://github.com/compound-finance/compound-protocol
[submodule "section3/FlashLoanPractice/lib/v2-periphery"]
	path = section3/FlashLoanPractice/lib/v2-periphery
	url = https://github.com/uniswap/v2-periphery
[submodule "section2/whitelist/lib/forge-std"]
	path = section2/whitelist/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "section2/whitelist/lib/murky"]
	path = section2/whitelist/lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "section2/whitelist/lib/openzeppelin-contracts"]
	path = section2/whitelist/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "section2/ProxyPattern/lib/forge-std"]
	path = section2/ProxyPattern/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "section2/ProxyPattern/lib/openzeppelin-contracts"]
	path = section2/ProxyPattern/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "section2/RugPullHw/lib/forge-std"]
	path = section2/RugPullHw/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "section2/RugPullHw/lib/solmate"]
	path = section2/RugPullHw/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "section2/StandardProxy/lib/forge-std"]
	path = section2/StandardProxy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "section3/CompoundPractice/lib/openzeppelin-contracts"]
	path = section3/CompoundPractice/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
