[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/compound-protocol"]
	path = lib/compound-protocol
	url = https://github.com/compound-finance/compound-protocol
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
